name: SauceDemo CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  ui-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        suite: [smoke, regression]

    if: |
      (github.event_name == 'pull_request' && matrix.suite == 'smoke') ||
      (github.event_name == 'push' && matrix.suite == 'regression')

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          playwright install --with-deps

      - name: Run Test Suite
        run: pytest -m ${{ matrix.suite }} --alluredir=allure-results

      - name: Install Allure
        run: |
          sudo apt-get update
          sudo apt-get install -y default-jre wget
          wget https://github.com/allure-framework/allure2/releases/latest/download/allure-2.29.0.tgz
          tar -zxvf allure-2.29.0.tgz
          sudo mv allure-2.29.0 /opt/allure
          sudo ln -s /opt/allure/bin/allure /usr/bin/allure

      - name: Generate Allure HTML Report
        run: allure generate allure-results --clean -o allure-report

      - name: Upload Allure HTML Report
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.suite }}-allure-html-report
          path: allure-report
